
@{
    ViewBag.Title = Resources.Resources.FinishSignUp;
}

<h2>@Resources.Resources.ThankYouForSignUp</h2>
@Html.ActionLink(Resources.Resources.SignUpWithDiffAccount, "SignUp", "Newsletter",new { @class= "btn btn-primary" })

