@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <h1>Ahmed Mehanna</h1>
    <h3>Software Engineer</h3>
    <p>Energetic software engineer with 3+ years experience developing robust code for high-volume
businesses. Joined multiple companies are working with medical and education system in
Middle-East and US. An enthusiastic team player and deep creative thinker.</p>
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Dev.AhmedMhana@gmail.com">Dev.AhmedMhana@gmail.com</a><br />
    <strong>LinkedIn:</strong>   <a href="https://www.linkedin.com/in/ahmedmehanna/" target="_blank">linkedin.com/in/ahmedmehanna/</a><br />
    <strong>GitHub:</strong>   <a href="https://github.com/AhmedMhana/Newsletter-Application" target="_blank">github.com/AhmedMhana/Newsletter-Application</a><br />
    <strong>   <a href="https://drive.google.com/open?id=0B7f05bpWij-xT3hkOThDRXVsY2c" target="_blank">My Resume</a></strong><br />
    
</address>